*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    color: white;
  }
  
  .navbar-logo {
    height: 50px; /* Adjust as needed */
  }
  
  .navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 1rem;
    font-size: 1rem; /* Adjust as needed */
  }
  
  .navbar-links li:hover {
    text-decoration: underline;
  }
  